APP_ENV=development
APP_DATABASE_URL=postgres://airtrak:airtrak@localhost:5432/airtrak?sslmode=disable
APP_DEFAULT_LOCALE=pt-BR

API_ADDR=:8080

AUTH_JWT_SECRET=change-me-in-dev
AUTH_ACCESS_TOKEN_TTL=24h

WA_DATABASE_URL=postgres://whatsmeow:whatsmeow@localhost:5433/whatsmeow?sslmode=disable
